<section class="section">
    <div class="container">
      <div class="has-text-centered">
        <article class="message">
          <div class="message-body is-size-4">
            <strong>404</strong>
            <p></p>
            <strong>{{'GENERAL-MESSAGE.NOT-FOUND-TITLE'|translate}}</strong>
            <p>{{'GENERAL-MESSAGE.NOT-FOUND-MESSAGE'|translate}}</p>
            <p>{{'GENERAL-MESSAGE.NOT-FOUND-REDIRECT-TO-HOME'|translate}}<a routerLink="/">Home</a></p>
          </div>
        </article>
      </div>
    </div>
  </section>