<article class="media">
  <div
    class="media-content"
    [formGroup]="addCommentForm"
    (ngSubmit)="onAddComment()"
  >
    <div class="field">
      <p class="control">
        <textarea
          class="textarea"
          placeholder="{{ 'COMMENTFORM.ADDCOMMENT' | translate }} *"
          formControlName="comment"
          [class.is-danger]="!ctrlComment.valid && ctrlComment.touched"
        ></textarea>
        <label *ngIf="!ctrlComment.valid && ctrlComment.touched"
          >{{'COMMENTFORM.COMMENTISNOTVALID' | translate}}</label
        >
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button
          class="button"
          (click)="onAddComment()"
          [locker]="isBusyAddComment"
          [disabled]="!addCommentForm.valid || isBusyAddComment"
        >
          {{ "COMMENTFORM.POSTCOMMENT" | translate }}
        </button>
      </p>
    </div>
  </div>
</article>
