<article class="media" *ngFor="let comment of comments">
  <figure class="media-left">
    <p class="image is-64x64" *ngIf="comment.authorThumb">
      <img src="{{ comment.authorThumb }}" />
    </p>
    <p class="image is-64x64" *ngIf="!comment.authorThumb">
      <img src="https://bulma.io/images/placeholders/128x128.png" />
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{ comment.username }}</strong>
        <br />
        {{ comment.text }}
        <br />
        <small>{{ comment.createDate | date: "dd MMMM" }}</small>
      </p>
    </div>
  </div>
</article>
