<div class="post-heading">
  <div class="post-cats category-{{ postDetail.category }}">
    <a (click)="onCategoryClick(postDetail.category)" rel="category tag">
      {{ postDetail.category | categoryBlog | translate }}
    </a>
  </div>
  <h1 class="post-title title-single">
    {{ postDetail.title }}
  </h1>
  <div class="post-meta">
    <div class="ath-post"><span>by</span> {{ postDetail.createdBy }}</div>
    <div class="date-post">
      <span class="post-date">{{
        postDetail.date | date: "dd MMMM yyyy"
      }}</span>
    </div>
    <div class="comment-number">
      <span *ngIf="postDetail.comments.length > 0">{{ postDetail.comments?.length }}</span>
      {{ postDetail.comments?.length | commentNumberTranslate | translate }}
    </div>
  </div>
</div>

<div class="post-format">
  <img src="{{ postDetail.imageUrl }}" alt="Featured Image" />
</div>

<div>
  {{ postDetail.text }}
</div>